.info { background-color: #2CC990; border: none; color: white;  border-radius: 0px !important;}
.danger{ background-color: #E3000E; border: none; color: white;  border-radius: 0px !important;}
.headerFlat{ background-color: #F0F1F5; border: none; color: black; font-weight: bold; border-radius: 0px !important;}
#getFlat {background-color:#25373D; color:white; border:none !important;}
.success { background-color: #2CC990; border: none; color: white;  border-radius: 0px !important;}
